@model System.Data.DataSet
@{
    ViewBag.Title = "ReportView";
    Layout = "~/Views/Shared/_LayoutPdf.cshtml";
    var dates = DateTime.Now.ToString("dd MMM yyyy");
    List<string> catsList = new List<string>();
    List<string> prodsList = new List<string>();
}

<style>
    .origin-row {
        background-color: #f1f1f1; /* Choose a color for the origin row background */
        padding: 20px 0; /* Adjust padding for better spacing */
    }
    /* Increase the font size for headings and normal text */
    .headings, .normaltext {
        font-size: 16px; /* Adjust the desired font size */
    }

    /* Make the table responsive */
    .tablepdf {
        border-collapse: collapse;
    }
</style>
<div class="row html-content content-template">
    <div class="col-sm-12">
        <div class="">
            @*@using (Html.BeginForm("Export", "ProductPricings", FormMethod.Post))
                {
                    <input type="hidden" name="ExportData" />
                    <input type="submit" id="btnSubmit" value="Export" />
                }*@
            <div class="col-md-12" id="PrintPDF">
                <div>
                    <img src="~/Reports/Header.png" height="150px;" width="100%;" />
                </div>
                <div class="">
                    <table class="tablepdf">
                        <thead>
                            <tr class="origin-row">
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="borderbottom">
                                <td>
                                </td>
                                <td style="vertical-align: bottom;">
                                    <p class="headings">
                                        Shipping Period
                                    </p>
                                </td>
                                <td style="vertical-align: bottom;">
                                    <p class="headings">
                                        Price
                                    </p>
                                </td>
                                <td style="vertical-align: bottom;">
                                    <p class="headings">
                                        Bags
                                    </p>
                                </td>
                                <td style="vertical-align: bottom;">
                                    <p class="headings">
                                        Crop Year
                                    </p>
                                </td>
                                <td style="vertical-align: bottom;">
                                    <p class="headings">
                                        Terms
                                    </p>
                                </td>
                            </tr>
                            @foreach (System.Data.DataRow roww in Model.Tables[0].Rows)
                            {
                                var cat = roww["Name1"].ToString();
                                var prod = roww["Name"].ToString();
                                if (!catsList.Contains(cat))
                                {
                                    catsList.Add(cat);
                                    <tr class="origin-row">
                                        <td>
                                            <p class="catheadings">
                                                @cat
                                            </p>
                                        </td>
                                        <td>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    if (!prodsList.Contains(prod))
                                    {
                        <tr>
                            <td>
                                <p class="normaltext">
                                    @roww["Name"].ToString()
                                </p>
                            </td>
                            <td>
                                <p class="normaltext">
                                    @roww["Name2"].ToString()
                                </p>
                            </td>
                            <td>
                                <p class="normaltext">
                                    @roww["Price"].ToString()
                                </p>
                            </td>
                            <td>
                                <p class="normaltext">
                                    @roww["Bags"].ToString()
                                </p>
                            </td>
                            <td>
                                <p class="normaltext">
                                    @roww["CropName"].ToString()
                                </p>
                            </td>
                            <td>
                                <p class="normaltext">
                                    @roww["TermName"].ToString()
                                </p>
                            </td>
                        </tr>
                                    }

                                }
                                else if (!prodsList.Contains(prod))
                                {
                        <tr>
                            <td>
                                <p class="normaltext">
                                    @roww["Name"].ToString()
                                </p>
                            </td>
                            <td>
                                <p class="normaltext">
                                    @roww["Name2"].ToString()
                                </p>
                            </td>
                            <td>
                                <p class="normaltext">
                                    @roww["Price"].ToString()
                                </p>
                            </td>
                            <td>
                                <p class="normaltext">
                                    @roww["Bags"].ToString()
                                </p>
                            </td>
                            <td>
                                <p class="normaltext">
                                    @roww["CropName"].ToString()
                                </p>
                            </td>
                            <td>
                                <p class="normaltext">
                                    @roww["TermName"].ToString()
                                </p>
                            </td>
                        </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

</div>