@model CoffeePricingMgt.Models.tblProductPricing

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblProductPricing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblTerm.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblTerm.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tblCrop.CropName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCrop.CropName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tblProduct.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblProduct.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUser.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUser.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
