@model CoffeePricingMgt.Models.ProductPricingForListVM

@{
    ViewBag.Title = "Prices";
    Layout = "~/Views/Shared/_LayoutGeneric.cshtml";
    var role = Session["Role"];
    string rolename = "";
    if (role != null)
    {
        rolename = role.ToString();
    }
}
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>

</head>
@using (Html.BeginForm())
{
    <form class="form-horizontal">
        <div class="content container-fluid" style="padding-top:15px">
            <div class="row col-md-12">
                <div class="col-md-11"><h4>@ViewBag.Title</h4></div>
            </div>
            <div class="row col-md-12">
                <div class="form-group col-md-3">
                    @Html.Label("Select Grade", htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.DropDownList("ProductID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3" style="padding-top:33px">
                    <input type="submit" value="Search" class="btn btn-success" />
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-1 pull-right" style="padding-top:33px">
                    @*new { @FromDate = Model.SearchDTO.FromDate, @ToDate = Model.SearchDTO.ToDate, @SerialNumber = Model.SearchDTO.SerialNumber, @DoctorId = Model.SearchDTO.DoctorId, @PatientId = Model.SearchDTO.PatientId },*@
                    @*@Html.ActionLink("RecordReport", "RecordReport", new { @ProductId = Model.ProductID, @class = "btn btn-primary" }, new { target = "_blank" })*@
                    <a href="/Prices/ReportView" class="btn btn-outline-danger" target="_blank">PDF print</a>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-0 ml-2 mr-2">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="table table-stripped mb-0 datatables">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Origin")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Grade")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Shipping Period")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Price")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Terms")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ProductPricingList)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tblProduct.tblCategory.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tblProduct.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tblShippingPeriod.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Notes)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                 'pdf'
            ]
        });
    </script>
}